<%= render 'layouts/userheader' %>
<div class="container">
<h3>マイページ</h3>

<span>登録情報</span>
<%# <%= link_to "編集する", edit_end_user_path(),class:"btn btn-info" %> %>
<%# <%= link_to "パスワードを変更する",class:"btn btn-info" %><br> %>

<table>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</table>

<span>配送先</span>
<p class="btn btn-info">一覧を見る</p><br>

<span>注文履歴</span>
<p class="btn btn-info">一覧を見る</p><br>
</div>
