<%= render 'layouts/adminheader' %>
<div class="container">
管理者注文詳細画
<div class="row">
<table class="table">
    <tr>
        <th>購入者</th>
        <td></td>
    </tr>
    <tr>
        <th>配送先</th>
        <td></td>
    </tr>
    <tr>
        <th>支払方法</th>
        <td>
        form_for
        </td>
    </tr>
    <tr>
        <th>注文ステータス</th>
        <td></td>
    </tr>
</table>
</div>
<div class="row">
<div class="col-xs-8">
<table class="table">
    <thead>
        <tr>
            <th>商品名</th>
            <th>単価（税抜）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
<div class="col-xs-4">
<table>
    <tr>
        <th>商品合計</th>
        <td>円</td>
    </tr>
    <tr>
        <th>送料</th>
        <td>円</td>
    </tr>
    <tr>
        <th>請求金額合計</th>
        <td>円</td>
    </tr>
</table>
</div>
</div>


</div>
