<%= render 'layouts/adminheader' %>
<div class="container">
エンドユーザー一覧画面
<table class="table">
    <thead>
        <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |f| %>
        <tr>
            <td><%= f.id %></td>
            <td><%= f.name %></td>
            <td><%= f.email %></td>
            <td>
            <% if f.deleted_at != nil %>
            退会済
            <% else %>
            有効
            <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>





</div>

